/* #resultBox{
    margin: 8%;
    height: 2vh;
    width: 20vw;
    padding: 5%;
    background-color: aquamarine;
}
button{
    display: block;
}
#varABox{
    height: 4vh;
    width: 10vw;
    background-color: blueviolet;
    padding: 5%;
}
#varBBox{
    height: 4vh;
    width: 10vw;
    background-color: cornflowerblue;
    padding: 5%;
}
#newCardResultBox{
    height: 4vh;
    width: 10vw;
    background-color: rgba(100, 148, 237, 0.486);
    padding: 5%;
} */
        /* NAV */
/* ul li{
    list-style-type: none;
    display: inline-block;
    border: none;
    border-radius: 50px;
    padding: 1% 3;
}
ul li:hover{
    background-color: cadetblue;
    cursor: pointer;
}
ul li a:hover{
    background-color: cadetblue;
}

nav{
display: flex;
justify-content: space-around;
align-items: center;
background-color: coral;
} */

input{
    padding: 0 4%;
}


#contentBox{
    padding: 10%;
}

button{
    display: block;
    padding: 1%;
    margin: 50vh auto;
    font-weight: 700;
}
body{
    /* background-color: */
}